@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@font-face {
    font-family: 'Volkswagen Serial Bold';
    src: url('../../Assests/fonts/volkswagen-serial-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Icomoon';
    src: url('../../Assests/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



/*  */


.intro{
  
    padding: 0;
}


.Introduction{
    background-image: url('../../Assests/sliders/2.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
}

#MainTitleDiv{
    width: 70vw;
}

.BodyIntro{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

#SubTitleIntro{
    font-family: 'Noto Sans', sans-serif;
    color: #213360;
    font-size: 1.1rem;

    font-weight: 700;
}

#SubTitleDiv{
    border: 1px solid red;
    width: 600px;
    padding-left: 0;
    color: #213360;
}
h3{
    text-align: start;
    margin: 0;
}
/* #MainTitleIntro{
    
    font-family: 'Quicksand', sans-serif;
    font-size: 5rem;
    line-height: 1.1em;
    overflow: hidden;
   
    color: #0e204d;
} */

#TextIntro{
    color: #283b6a;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 700;
    max-width: 550px;
}

.buttonsDiv{
    display: flex;
    gap: 3vw;
    justify-content: start;
}

.buttonIntro , .services{
    margin: 0;
    padding: 0;
}

@media (max-width: 575.98px) {
   
      
      .intro{
       
        width: 90vw;
      }
      .buttonsDiv{
        
        width: 80vw;
      }
      
    
     
       .buttonIntro{ 
        width: 60px;
        font-size: 12px;
       }
       
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
    .intro{
       
        width: 90vw;
      }
      .buttonsDiv{
        
        width: 80vw;
      }
      
       .buttonIntro{ 
     
        font-size: 3vw;
       }
       
}
@media (min-width: 768px) and (max-width: 999.98px) {
    .intro{
      
        width: 90vw;
      }
      .buttonsDiv{
        
        width: 80vw;
      }
     
       .buttonIntro{ 
     
        font-size: 12px;
       }
}









button{
    cursor: pointer;
}

.aboutBtn{
    cursor: pointer;
    border: none;
    font-family: 'Schibsted Grotesk' , sans-serif;
    outline: none;
    background-color: white;
    color: rgb(32, 48, 90);
    
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index:1;
    
}
.aboutBtn:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #283b6a;
    transform: scaleX(0);
    transform-origin: left;
   
    transition: transform 0.3s linear;
    z-index:-1;
    
}
.aboutBtn:hover{
    color: white;
}
.aboutBtn:hover::before {
    transform: scaleX(1);
    
  }
.services{
         cursor: pointer;
        border: none;
        font-family: 'Schibsted Grotesk' , sans-serif;
        outline: none;
        background-color: #283b6a;
        color: white;
      
        border-radius: 30px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index:1;
        
   
}

.buttonIntro{
    height: 60px;
    width:190px;
}

.services:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32,197,184);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s linear;
    z-index:-1;
    

}


.services:hover::before {
    transform: scaleX(1);
  }


