.health{
    height: 100%;
    
    background: rgb(40,59,106);
background: -moz-linear-gradient(180deg, rgba(40,59,106,1) 72%, rgba(32,198,186,1) 72%);
background: -webkit-linear-gradient(180deg, rgba(40,59,106,1) 72%, rgba(32,198,186,1) 72%);
background: linear-gradient(180deg, rgba(40,59,106,1) 72%, rgba(32,198,186,1) 72%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#283b6a",endColorstr="#20c6ba",GradientType=1);
}
.healthCont{
  height: 100%;
   display: flex;
   padding-top: 20px;

   flex-direction: column;
  gap: 4vw;
  
  
}
.row{
margin: 0;
}
.Caretop{
    flex-direction: column;
    
    display: flex;
    justify-content: center;
    height: 50%;
}
 .CareLeft , .CareRight{

 height: 60%;
}
.CareLeft{
  
  display: flex;



}
.CareRight{
   padding-top: 10px;
   width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#CareSub{
 

    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 2.3rem;
    color: #8b8b8b !important;

}
#CareTitle{
   
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: rgba(32,198,186,1);
}

#CareSubtitle{
    font-size: 40px;
    font-family: Quicksand, sans-serif;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
}

#icons{
   
    height: 30px;
}
#ListRight , #ListLeft{
    display: flex;
    
    flex-direction: column;
    gap: 10PX;
    
}

#Lists{
    display: flex;
    gap: 70px;
   
}
.listItems{
   
    width: fit-content;
    
    display: flex;
    align-items: center;
    text-align: center;
}

.listItems label {
    margin-right: 10px;
  }

  text{
    color: #fff;
    
    font-family: Roboto, sans-serif;

  }


  .CardCol{
   
    height: 400px;
    width: 200px;
    border: 1px solid ;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor:pointer;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0e204d;
    font-family: Quicksand, sans-serif;
  }
  .CardCol:hover{
    transform: translateY(-20px);
  }
  .CareBottom{

display: flex;
justify-content: space-evenly;
gap: 4rem;
align-items: center;
flex-direction: row;
  }
#image{
  height: 100px;
}
.care:hover{
  color: white;
  color: #0e204d;

}
#title1{
  font-size: 27px;
  font-family: Quicksand, sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
 
}

#subTitle1{
  font-size: 16px;
color: #fff;
  font-family: Roboto, sans-serif;
}
#btn{
  border: none;
  font-family: 'Schibsted Grotesk', sans-serif;
  outline: none;
  background-color: #283b6a;
  color: white;
  height: 60px;
  width:190px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index:1;
  margin-left: 10px;
}

#btn:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index:-1;
  

}


#btn:hover::before {
  transform: scaleX(1);
 
}

#btn:hover{
  color: #283b6a;
}
@media (max-width:390px) {
 
  .CareLeft{
    flex-direction: column;
  }
  .healthCont{
   margin-left: 5px;
    gap: 30px;
  }
  #CareTitle p{
    font-size: 3vw;
  }
  #CareSubtitle{
    font-size: 4vw;
  }
.CareLeft{
    width: 95vw;
}
.CareRight{
    width: 100%; 
}
.CardCol{
  height: 16em;
}
#CareSub{
  font-size: 4vw;
  line-height: 1.5rem;
    margin-bottom: 33px;
}
text{
  font-size: 12px;
}
.card3{
    display: none;
}
.card4{
    display: none;
}

.CareBottom{
  gap: 0.8rem;
  align-items: start;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
#title1{
  font-size:16px ;
  margin-bottom: 5px;
}
#image{
  height: 50px;
}
#subTitle1{
  font-size: 12px;  
  font-weight: lighter;
}
#btn{
  display: none;
}
  
}
  @media (max-width: 575.98px) and (min-width:391px){
   .healthCont{
    width: 90vw;
    
   }
    .CareLeft{
      flex-direction: column;
    }
    .healthCont{
      margin-left: 15px;
      gap: 30px;
    }
    #CareTitle p{
      font-size: 3vw;
    }
    #CareSubtitle{
      font-size: 4vw;
    }
  .CareLeft{
      width: 90vw;
  }
  .CareRight{
      width: 100%; 
  }
  .CardCol{
    height: 16em;
  }
  #CareSub{
    font-size: 4vw;
    line-height: 1.5rem;
      margin-bottom: 33px;
  }
  text{
    font-size: 12px;
  }
  .card3{
      display: none;
  }
  .card4{
      display: none;
  }
  
  .CareBottom{
    gap: 0.8rem;
    align-items: start;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  #title1{
    font-size:16px ;
    margin-bottom: 5px;
  }
  #image{
    height: 50px;
  }
  #subTitle1{
    font-size: 12px;  
    font-weight: lighter;
  }
  #btn{
    display: none;
  }
    
  }

  @media (min-width: 576px) and (max-width: 767.98px)  {
    /* CSS styles to be applied */
  
    .healthCont{
     
      margin-left: 15px;
    }
    .CareLeft{
      flex-direction: column;
    }
    .healthCont{
      gap: 30px;
    }
    #CareTitle p{
      font-size: 3.5vw;
    }
    #CareSubtitle{
      font-size: 3vw;
    }
  .CareLeft{
      width: 95vw;
  }
  .CareRight{
      width: 100%; 
  }
  .CardCol{
    height: 16em;
  }
 
  #CareSub{
    width: 80vw;
    font-size: 3vw;
    line-height: 1.5rem;
      margin-bottom: 33px;
  }
  text{
    font-size: 12px;
  }

  .card4{
      display: none;
  }
  
  .CareBottom{
    gap: 0.8rem;
    align-items: start;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  #title1{
    font-size:16px ;
    margin-bottom: 5px;
  }
  #image{
    height: 50px;
  }
  #subTitle1{
    font-size: 12px;  
    font-weight: lighter;
  }
  #btn{
    display: none;
  }
    
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    .healthCont{
     
      margin: 1px;
    }
    .CareLeft{
      flex-direction: column;
    }
    .healthCont{
      gap: 30px;
    }
    #CareTitle p{
      font-size: 3vw;
    }
    #CareSubtitle{
      font-size: 2vw;
    }
  .CareLeft{
      width: 95vw;
  }
  .CareRight{
      width: 100%; 
  }
  .CardCol{
    height: 16em;
  }
 
  #CareSub{
    width: 80vw;
    font-size: 2vw;
    line-height: 1.5rem;
      margin-bottom: 33px;
  }
  text{
    font-size: 12px;
  }

  .card4{
      display: none;
  }
  
  .CareBottom{
    gap: 0.8rem;
    align-items: start;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  #title1{
    font-size:16px ;
    margin-bottom: 5px;
  }
 
  #subTitle1{
    font-size: 12px;  
    font-weight: lighter;
  }
  #btn{
    display: none;
  }
    
  }
  
  /* Large Devices (992px - 1199px) */
  @media (min-width: 1000px) and (max-width: 1199.98px) {
    /* CSS styles to be applied */
    .CareRight{
        width: 100%;
      
    }
  }
  @media (max-width:1200px) {
 
    
  }
  /* Extra Large Devices (1200px and higher) */
  @media (min-width: 1200px) {
    /* CSS styles to be applied */
   
  }