@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.top{
    background-color: #213974   ;
    height: 60px;
    padding-inline: 40px;
    padding-top: 10px;
    display: visible;
    color: rgb(255, 255, 255);
}
#title{
    color: rgb(32, 198, 186);
    text-shadow: -2px 0px 10px rgba(0,0,0,0.6);
}
.info{
    align-items: center;
    
    
}

.infos{
    font-size: 12px;
    margin-left: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
  color: #f4f4f4 ; 

}

@media (max-width: 991px) {
    .top{
        display: none;
    }
  }